{% extends 'base.html' %}

{% block title %}Madlib Amswer{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <figure class="text-center">
                <blockquote class="blockquote">
                          <p class="story">{{text}}</p>
                        </blockquote>
                <figcaption class="blockquote-footer">
                         You
                </figcaption>
            </figure>
        </div>
    </div>

{% endblock %}